<div class="card border-dark mx-auto" style="max-width: 30rem; background-color: white;">
  <div class="card-body">  
    <%= render @movie %>

    <hr class="divider" />

    <div class="d-flex justify-content-center">
      <%= link_to "Voltar", movies_path, class: "btn btn-secondary d-inline mx-2" %>
      <%= link_to "Editar", edit_movie_path(@movie), class: "btn btn-secondary d-inline mx-2" %>
      <%= button_to "Deletar", @movie, method: :delete, class: "btn btn-secondary d-inline mx-2" %>
    </div>
  </div>
</div>
