<div class="row">
  <div class="col"></div>
  <div class="col">
    <%= image_tag "camera", size: "100", class: "rounded mx-auto d-block mb-3" %>
    <div id="directors">
      <div class="list-group">
        <% @directors.each do |director| %>
          <%= link_to "#{director.name}", director, class: "list-group-item list-group-item-action border-dark" %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Add new director", new_director_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
  <div class="col"></div>
</div>
