::selection {
    background-color: $rosa;
}

.form-control {
  background-color: #eef2fd;
}

.form-control:focus {
  background-color: #eef2fd;
}

.form-select {
  background-color: #eef2fd;
}

a {
  text-decoration: none;
}

.mw-50 {
  max-width: 50%;
}

.gradient {
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(195,180,217,1) 48%, rgba(188,181,219,1) 56%, rgba(176,183,223,1) 69%, rgba(153,186,231,1) 95%, rgba(148,187,233,1) 100%); 
}

.card {
  max-width: 40rem;
  background-color: $azulbg;
}

.bold {
  font-weight: bold;
}

.field_with_errors .form-control {
  border-color: $rosachock;
}

.field_with_errors .form-select {
  border-color: $rosachock;
}

.invalid-feedback {
  display: block;
  color: $rosachock;
}

.notion-shadow {
  box-shadow: 
    rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, 
    rgba(15, 15, 15, 0.1) 0px 3px 6px, 
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.other-shadow {
  box-shadow: 10px -10px $shadowAzul;
}
